h1{
    background-color: black;
    color: white;
    font-weight: bold;
}

span{
    color: rgb(58, 247, 231);
}

.titulo1{
    background-color: blueviolet;
    color:white;
    text-align: center;
    font-style: oblique;
}

#titulo2{
    background-color: rgb(42, 250, 239);
    color: purple;
    text-align: right;
    text-decoration: underline;
    font-weight: lighter;
}
