.container {
    width: 1000px;
    margin: 0 auto;
    background-color: #ecf1f7;
    padding: 20px;
}

.row {
    display: flex;
    margin: 30px;
    padding: 30px;

}

.heroes{
    background-color: rgb(94, 94, 218);
    justify-content: space-between;
}
.gatitas {
    background-color: rgb(187, 71, 187);
    justify-content: space-around;
}

.random {
    background-color: rgb(184, 5, 94);
    justify-content: space-between;
    
}
img{
    height: 250px;
    border-radius: 20%;
}
h1{
    text-align: center;
    color: blueviolet;
}